﻿@model IEnumerable<AvaliacaoDeveloperMVC.Models.Client>

@{
    ViewBag.Title = "Lista de Veículos";
}

<h2>Lista de Veículos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renavam)
        </th>
        
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {


<tr>
        <td>
            @if (item.isBlocked) {
                <img width="50" height="50" src="~/Pictures/lock2.png" />
            }
            else
            {
                <img width="50" height="50" src="~/Pictures/unlock2.png"/>
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renavam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
